# From: https://orchid00.github.io/actions_sandbox/websites-using-pkgdown-bookdown-and-blogdown.html#deploy-bookdown
# To Do:
# 1. Create a personal access token (PAT) labeled `EMAIL`: https://github.com/settings/tokens; save the value in LastPass
# 2. Create a secret labeled `EMAIL` in the repo (Settings -> Security -> Secrets -> Actions), and copy the PAT for `EMAIL` into the secret labeled `EMAIL`

on:
  push:
     branches:
       - main

name: build-book

jobs:
  bookdown:
    name: Install R Packages
    runs-on: ubuntu-latest
    container: rocker/geospatial:latest # use a docker container instead of `r-lib/actions/setup-r@v2` and `r-lib/actions/setup-pandoc@v2` # can specify R version for reproducibility (https://hub.docker.com/r/rocker/geospatial/tags?page=1&ordering=last_updated): `container: rocker/geospatial:4.1.0`
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3 # update
      
      - name: Session info
        run: Rscript -e 'sessionInfo()'
      
      - name: Install remote packages
        run: |
         Rscript -e 'install.packages("remotes")'
         Rscript -e 'remotes::install_git("https://research-git.uiowa.edu/PetersenLab/petersenlab.git")'
         #Rscript -e "remotes::install_github('evwalz/uroc')"
         #Rscript -e "remotes::install_github('ddueber/dmacs')"
         #Rscript -e "remotes::install_deps(dependencies = TRUE)"
        
      - name: Install package dependencies
        uses: r-lib/actions/setup-r-dependencies@v2 # update # use instead of installing package dependencies manually
